@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1080px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .container {
        padding: 0 30px;
    }

    header {
        .header-wrap {
            align-items: flex-start;

            .header-logo-wrap {
                flex-direction: column;
                align-items: flex-start;

                .header-logo {
                    p {
                        font-size: 18px;
                    }
                }

                .header-logo-pp {
                    p {
                        font-size: 8px;
                    }
                }

                >div {
                    margin: 0;
                }
            }

            .header-buttons {
                flex-direction: row-reverse;

                .button-fill,
                .button-border {
                    font-size: 8px;
                }

                >a {
                    margin: 0;

                    &:last-child {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}