html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBoldItalic.eot");
  src: url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Heavy.eot");
  src: url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Black.eot");
  src: url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBoldItalic.eot");
  src: url("../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Thin.eot");
  src: url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}



body {
  color: #1c1c1c;
  font-family: 'Gilroy', sans;
  line-height: 1.1;
}

.button-border {
  background: transparent;
  border: 1px solid #fcd028;
  color: #fcd028;
  font-size: 18px;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 14px;
  border-radius: 8px;
  font-weight: 600;
}

.button-border:hover {
  color: #fcd028;
}

.button-fill {
  -webkit-box-shadow: 0px 8px 12.96px 3.04px rgba(233, 174, 42, 0.2);
  box-shadow: 0px 8px 12.96px 3.04px rgba(233, 174, 42, 0.2);
  background: linear-gradient(60deg, #fcd028 0%, #e9ae2a 100%);
  border: #fcd028;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 14px;
  font-weight: 600;
}

.button-fill:hover {
  color: #fff;
}

header {
  margin-top: calc(1.40625rem + 1.875vw);
  margin-bottom: calc(1.40625rem + 1.875vw);
}

@media (min-width: 1200px) {
  header {
    margin-top: 2.8125rem;
  }
}

@media (min-width: 1200px) {
  header {
    margin-bottom: 2.8125rem;
  }
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header-wrap .header-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header-wrap .header-logo-wrap>div {
  margin: 0 15px;
}

header .header-wrap .header-logo-wrap>div:first-child {
  margin-left: 0;
}

header .header-wrap .header-logo-wrap .header-logo p {
  color: #fcd028;
  font-size: calc(1.2875rem + 0.45vw);
  font-weight: bold;
}

@media (min-width: 1200px) {
  header .header-wrap .header-logo-wrap .header-logo p {
    font-size: 1.625rem;
  }
}

header .header-wrap .header-logo-wrap .header-logo p span {
  font-weight: 100;
}

header .header-wrap .header-logo-wrap .header-logo-pp {
  font-weight: 200;
  font-size: 0.75rem;
}

header .header-wrap .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-wrap .header-buttons>a {
  margin: 0 15px;
}

header .header-wrap .header-buttons>a:last-child {
  margin-right: 0;
}

header .header-wrap .header-buttons .button-border {
  background: transparent;
  border: 1px solid #fcd028;
  color: #fcd028;
  font-size: 12px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border-radius: 8px;
  font-weight: 600;
}

@media (max-width: 767.98px) {
  header .header-wrap .header-buttons .button-border {
    padding: 4px 8px;
  }
}

header .header-wrap .header-buttons .button-border:hover {
  color: #fcd028;
}

header .header-wrap .header-buttons .button-fill {
  -webkit-box-shadow: 0px 8px 12.96px 3.04px rgba(233, 174, 42, 0.2);
  box-shadow: 0px 8px 12.96px 3.04px rgba(233, 174, 42, 0.2);
  background: linear-gradient(60deg, #fcd028 0%, #e9ae2a 100%);
  border: #fcd028;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
}

@media (max-width: 767.98px) {
  header .header-wrap .header-buttons .button-fill {
    padding: 4px 8px;
  }
}

header .header-wrap .header-buttons .button-fill:hover {
  color: #fff;
}

h1 {
  color: #000;
  font-weight: 900;
  font-size: calc(1.5rem + 3vw);
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h1 span {
  color: #fcd028;
}

h2 {
  font-weight: 800;
}

h2 span {
  color: #fcd028;
}

h3 {
  font-weight: 300;
  font-size: 1.125rem;
}

h3 span {
  color: #fcd028;
}

section.banner {
  margin-bottom: 4rem;
}

section.banner h1 {
  margin-bottom: calc(1.3rem + 0.6vw);
  margin-top: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  section.banner h1 {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 1200px) {
  section.banner h1 {
    margin-top: 2rem;
  }
}

section.banner h3 {
  margin-bottom: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  section.banner h3 {
    margin-bottom: 1.5rem;
  }
}

section h2 {
  text-transform: uppercase;
  font-size: calc(1.35rem + 1.2vw);
  margin-bottom: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  section h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1200px) {
  section h2 {
    margin-bottom: 2.5rem;
  }
}

section h4 {
  margin-bottom: 1.125rem;
  font-size: 1.25rem;
  font-weight: bold;
}

section p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
}

section p:last-child {
  margin-bottom: 0;
}

section.wave {
  background-color: #f9f9f9;
  position: relative;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

section.wave::before {
  content: '';
  background: url(../img/wave-bg.png);
  background-size: cover;
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -130px;
  background-position-x: center;
}

section.wave::after {
  content: '';
  background: url(../img/wave-bg.png);
  background-size: cover;
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: -130px;
  background-position-x: center;
}

section.between {
  padding-top: 170px;
  padding-bottom: 170px;
}

section.between:last-child {
  padding-bottom: 0;
}

section.target-group {
  padding-bottom: calc(1.34375rem + 1.125vw);
}

@media (min-width: 1200px) {
  section.target-group {
    padding-bottom: 2.1875rem;
  }
}

section.target-group .col-lg-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.target-group .target-block {
  background: #fff;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 8px 12.96px 3.04px rgba(214, 216, 218, 0.2);
  box-shadow: 0px 8px 12.96px 3.04px rgba(214, 216, 218, 0.2);
  border-radius: 10px;
}

section.target-group .target-block .img-fluid {
  width: 100%;
}

section.target-group .target-block .target-text-wrap {
  padding: 0 15px;
}

section.point .col-lg-3 {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  section.point .col-lg-3 {
    margin-bottom: 2rem;
  }
}

section.point h2 {
  margin-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  section.point h2 {
    margin-bottom: 3rem;
  }
}

section.point .point-block h4 {
  font-size: 1.125rem;
}

section.point .point-block .point-img {
  height: 65px;
  margin-bottom: calc(1.26875rem + 0.225vw);
}

@media (min-width: 1200px) {
  section.point .point-block .point-img {
    margin-bottom: 1.4375rem;
  }
}

section.review .slick-slider-1 .reviews-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.case .case-slider .case-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.case .case-slider .case-block .case-right {
  margin-left: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  section.case .case-slider .case-block .case-right {
    margin-left: 2rem;
  }
}

section.case .case-slider .case-block .case-right .case-title {
  color: #fcd028;
  margin-bottom: calc(1.3125rem + 0.75vw);
}

section.case .case-slider .case-block .case-right .case-title p {
  font-weight: bold;
  font-size: calc(1.3125rem + 0.75vw);
}

@media (min-width: 1200px) {
  section.case .case-slider .case-block .case-right .case-title p {
    font-size: 1.875rem;
  }
}

@media (min-width: 1200px) {
  section.case .case-slider .case-block .case-right .case-title {
    margin-bottom: 1.875rem;
  }
}

section.case .case-slider .case-block .case-right .case-subtitle {
  margin-bottom: 1rem;
}

section.case .case-slider .case-block .case-right .case-subtitle p {
  font-weight: bold;
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  section.case .case-slider .case-block .case-right .case-subtitle p {
    font-size: 1.5rem;
  }
}

section.case .case-slider .case-block .case-right .case-text {
  margin-bottom: calc(1.3125rem + 0.75vw);
}

section.case .case-slider .case-block .case-right .case-text p {
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 1200px) {
  section.case .case-slider .case-block .case-right .case-text {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1080px;
  }
}



.slick-prev:before,
.slick-next:before {
  content: '';
}

.slick-next img {
  transform: rotate(180deg);
}

.slick-slide img {
  width: 100%;
}

.slick-slide {
  padding: 15px;
}

.case .slick-dots li button:before {
  font-size: 15px;
  opacity: 1;
  color: #dcdcdc;
}

.case .slick-dots li.slick-active button:before {
  color: #fcd028;
}

.case .slick-dots li button {
  opacity: 1;
}

.outline-color {
  outline: none;
}

.triger_calaps {
  background-color: #03A9F4;
  border: none;
  outline: none !important;
  padding: 20px 30px;
  margin: 0;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  font-weight: 600;
}

.calaps_icon {
  align-self: center;
  transition: .3s ease-in-out;
}

.calaps_shadow .calaps_icon {
  transform: rotate(180deg);
  transform-origin: center;
}

.card-body {
  background-color: white;
  padding: 20px 30px;
}

.card-body p {
  font-size: 1.1rem;
  line-height: 1.3;
}


.calaps_wrap {
  background: rgba(255, 255, 255, 0);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: .3s ease-in-out;
}

.calaps_shadow {
  background: white;

}

.yellow {
  color: #fcd028;
}

section.bot .h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 800;
}

.bot__info_p {
  font-size: 20px;
  font-weight: 400;
}

footer {
  background: #f9f9f9;
}

.footer__logo {
  color: #6d9cd2;
  font-size: 26px;
  font-weight: 800;
}

.footer__right_info {
  font-size: 14px;
  line-height: 2;
  color: #6d9cd2;
}

.footer__right_info a {
  color: #6d9cd2;
}

.bot.between {
  padding-bottom: 40px;
}



@media (max-width: 767.98px) {
  section.case .case-slider .case-block {
    flex-direction: column;
    text-align: center;
  }

  .case-img {
    margin-bottom: 20px;
  }

  .case-right {
    margin-left: 0 !important;
  }

  section.banner {
    text-align: center;
    padding-bottom: 50px;
  }

  h2 {
    text-align: center;
  }

  .point-block {
    text-align: center;
  }

  .bot {
    text-align: center;
  }

  .triger_calaps {
    font-size: 17px;
  }

  section.bot .h1 {
    font-size: 40px;
  }

  .slick-slide img {
    width: 100%
  }

  .container {
    padding: 0 30px;
  }

  header .header-wrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  header .header-wrap .header-logo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  header .header-wrap .header-logo-wrap .header-logo p {
    font-size: 18px;
  }

  header .header-wrap .header-logo-wrap .header-logo-pp p {
    font-size: 8px;
  }

  header .header-wrap .header-logo-wrap>div {
    margin: 0;
  }

  header .header-wrap .header-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  header .header-wrap .header-buttons .button-fill,
  header .header-wrap .header-buttons .button-border {
    font-size: 8px;
  }

  header .header-wrap .header-buttons>a {
    margin: 0;
  }

  header .header-wrap .header-buttons>a:last-child {
    margin-right: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */