@import "_reset";
@import "_fonts";
@import "../node_modules/rfs/scss";

//*MIXINS
$orange: #f8a008;
$black: #1c1c1c;
$bg-gray: #f9f9f9;

@mixin button-border($fontSize, $size) {
    background: transparent;
    border: 1px solid $orange;
    color: $orange;
    font-size: $fontSize;
    display: inline-block;

    @if($size==small) {
        padding: 0.5rem 1rem;
        border-radius: 8px;

        @media (max-width: 767.98px) {
            padding: 4px 8px;
        }
    }

    @if($size==regular) {
        padding: 1rem 1.5rem;
        border-radius: 14px;
    }

    border-radius: 8px;
    @include Semi-Bold();

    &:hover {
        color: $orange;
    }
}

@mixin button-fill($fontSize, $size) {
    box-shadow: 0px 8px 12.96px 3.04px rgba(233, 174, 42, 0.2);
    background: linear-gradient(60deg, rgb(248, 160, 8) 0%, rgb(233, 174, 42) 100%);
    border: $orange;
    color: #fff;
    font-size: $fontSize;
    display: inline-block;

    @if($size==small) {
        padding: 0.5rem 1rem;
        border-radius: 8px;

        @media (max-width: 767.98px) {
            padding: 4px 8px;
        }
    }

    @if($size==regular) {
        padding: 1rem 1.5rem;
        border-radius: 14px;
    }

    @include Semi-Bold();

    &:hover {
        color: #fff;
    }
}

@mixin Ultra-Light {
    font-weight: 200;
}

@mixin Thin {
    font-weight: 100;
}

@mixin Semi-Bold {
    font-weight: 600;
}

@mixin Light {
    font-weight: 300;
}

@mixin Bold {
    font-weight: bold;
}

@mixin Black {
    font-weight: 900;
}

@mixin Extra-Bold {
    font-weight: 800;
}

@mixin Medium {
    font-weight: 500;
}

//*MAIN
body {
    color: $black;
    font-family: 'Gilroy', sans;
    line-height: 1.1;
}

.button-border {
    @include button-border(18px, regular);
}

.button-fill {
    @include button-fill(18px, regular);
}

header {
    @include margin-top(45px);
    @include margin-bottom(45px);

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }
            }

            .header-logo {
                p {
                    color: $orange;
                    @include font-size(26px);
                    font-weight: bold;

                    span {
                        @include Thin();
                    }
                }
            }

            .header-logo-pp {
                @include Ultra-Light();
                @include font-size(12px);
            }
        }

        .header-buttons {
            display: flex;

            >a {
                margin: 0 15px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .button-border {
                @include button-border(12px, small);
            }

            .button-fill {
                @include button-fill(12px, small);
            }
        }
    }
}

h1 {
    color: #000;
    @include Black();
    @include font-size(60px);
    text-transform: uppercase;

    span {
        color: $orange;
    }
}

h2 {
    @include Extra-Bold();

    span {
        color: $orange;
    }
}

h3 {
    @include Light;
    @include font-size(18px);

    span {
        color: $orange;
    }
}

section.banner {
    margin-bottom: 4rem;

    h1 {
        @include margin-bottom(1.75rem);
        @include margin-top(2rem);
    }

    h3 {
        @include margin-bottom(1.5rem);
    }
}

section {
    h2 {
        text-transform: uppercase;
        @include font-size(36px);
        @include margin-bottom(40px);
    }

    h4 {
        @include margin-bottom(18px);
        @include font-size(20px);
        @include Bold();
    }

    p {
        @include margin-bottom(16px);
        @include font-size(14px);
        @include Light();

        &:last-child {
            margin-bottom: 0;
        }
    }
}

section.wave {
    background-color: $bg-gray;
    position: relative;
    @include padding-top(15px);
    @include padding-bottom(15px);

    &::before {
        content: '';
        background: url(../img/wave-bg.png);
        background-size: cover;
        background-position: bottom;
        height: 130px;
        width: 100%;
        display: flex;
        position: absolute;
        top: -130px;
    }

    &::after {
        content: '';
        background: url(../img/wave-bg.png);
        background-size: cover;
        background-position: bottom;
        height: 130px;
        width: 100%;
        display: flex;
        position: absolute;
        transform: rotate(180deg);
        bottom: -130px;
    }
}

section.between {
    padding-top: 170px;
    padding-bottom: 170px;

    &:last-child {
        padding-bottom: 0;
    }
}

section.target-group {
    @include padding-bottom(35px);

    .col-lg-3 {
        display: flex;
    }

    .target-block {
        background: #fff;
        padding-bottom: 2rem;
        box-shadow: 0px 8px 12.96px 3.04px rgba(214, 216, 218, 0.2);
        border-radius: 10px;

        .img-fluid {
            width: 100%;
        }

        .target-text-wrap {
            padding: 0 15px;
        }
    }
}

section.point {

    .col-lg-3 {
        @include margin-bottom(2rem);
    }

    h2 {
        @include margin-bottom(3rem);
    }

    .point-block {
        h4 {
            @include font-size(18px);
        }

        .point-img {
            height: 65px;
            @include margin-bottom(23px);
        }
    }
}

section.review {
    .slick-slider-1 {
        .reviews-img {
            display: flex;
            justify-content: center;
        }
    }
}

section.case {
    .case-slider {
        .case-block {
            display: flex;
            justify-content: center;
            align-items: center;

            .case-right {
                @include margin-left(2rem);

                .case-title {
                    p {
                        @include Bold();
                        @include font-size(30px);
                    }

                    color: $orange;
                    @include margin-bottom(30px);
                }

                .case-subtitle {
                    p {
                        @include Bold();
                        @include font-size(24px);
                    }

                    @include margin-bottom(16px);
                }

                .case-text {
                    p {
                        @include font-size(18px);
                        @include Medium();
                    }

                    @include margin-bottom(30px);
                }
            }
        }
    }
}

@import "_media";